<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 在浏览器中收到html响应之后从上到下依次解析发现有link image
    iforme script video audio 将具有src href 属性的标签的时候浏览器自动会对静态 资源进行请求 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>主页文件</h1>
    <button><a href="/post">发表留言</a></button>
    <ul>
        {{ each comment}}
            <li>{{ $value.name }} 说 {{ $value.message}} <span>
                {{ $value.dateTime }}
            </span></li>
        {{ /each }}
        
    </ul>
</body>
</html>